<!doctype html>
<html>
<head>
  <title>Forgot Password</title>
</head>
<body>

<h2>Reset Password via OTP</h2>

{% if message %}
  <div style="color:red">{{ message }}</div>
{% endif %}

{% if step == "email" %}
<form method="post">
  Enter Your Email:<br>
  <input type="email" name="email" required><br><br>
  <button type="submit">Send OTP</button>
</form>
{% endif %}

{% if step == "otp" %}
<form method="post">
  Enter OTP:<br>
  <input type="text" name="otp" required><br><br>
  New Password:<br>
  <input type="password" name="new_password" required><br><br>

  <button type="submit">Reset Password</button>
</form>
{% endif %}

<br><a href="{{ url_for('login') }}">Back to Login</a>

</body>
</html>
